{% extends 'base_templates/html_base.html' %}

<!-- meta_tags -->
{% block meta_tags %} {% endblock %}

<!-- title -->
{% block title %} Formula Demo {% endblock %}

<!-- css -->
{% block css %} {% endblock %}

<!-- head_js -->
{% block head_js %}{% endblock %}

<!-- main content -->
{% block main %}

    <section class="container mx-auto p-8">

        <div class="min-w-full bg-white rounded-3xl shadow-md py-12">
            <h1 class="text-blue-600 text-center" > HELLO WORLD! </h1>
        </div>

        <div class="bg-gray-50 rounded-3xl shadow-md my-12 p-20">
            <form method="post" class="flex flex-col items-center space-y-10">
                {% csrf_token %}

                <div class="fieldWrapper flex flex-col bg-white p-5 text-center rounded-lg shadow-md">
                    {{ form.length.errors }}
                    <label for="{{ form.length.id_for_label }}">Length</label>
                    {{ form.length }}
                </div>

                <div class="fieldWrapper flex flex-col bg-white p-5 text-center rounded-lg shadow-md ">

                    {{ form.width.errors }}
                    <label for="{{ form.width.id_for_label }}">Width</label>
                    {{ form.width }}

                </div>



                <input type="submit" value="SUBMIT &rarr;" class="cursor-pointer bg-white border border-blue-600 p-2 rounded-lg font-bold text-blue-600
                                                                hover:bg-blue-600 hover:text-white transition-all">

            </form>
        </div>

    </section>


{% endblock %}

<!-- body_js -->
{% block body_js %} {% endblock %}