{% extends 'base_template/estimation_base_template.html' %}
{% load static %}

{% block meta_tags %} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estimate/css/sliderDesign.css' %}">
{% endblock %}

{% block title %} Activity Level {% endblock %}

{% block body_js %}
    <script src="{% static 'estimate/js/activity_level.js' %}" type="text/javascript"></script>
{% endblock %}

{% block input %}

<div class="flex flex-col justify-center space-x-3">

  <div class="flex justify-center space-x-3">

      <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> How intense is the activity? </h1>
      <div class="dropdown dropdown-end">

      <div tabindex="0" class="btn btn-circle btn-ghost btn-sm text-info">
        <i class="fas fa-info-circle text-charlotte-blue"></i>
      </div>

      <div tabindex="0" class="shadow card compact dropdown-content bg-base-100 rounded-box w-52">
        <div class="card-body">
          <p>The intensity of the activity refers to the nature of what the people will be doing for the planned activity (e.g. talking, sleeping, walking, & running).</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="w-full carousel">

  {% for level in activity_levels %}
  <div id="slide{{ forloop.counter }}" class="relative w-full carousel-item">
    <div class="flex justify-center p-5 lg:py-6 lg:px-20 w-full ">

      <div class="card shadow-lg" >

        <figure class="p-6 pb-0 md:h-80">
          <img class="h-full w-full" src="{{ level.Image.url }}"  alt="My image"></img>
        </figure>

        <div class="card-body flex flex-col justify-center pt-0 mt-0">
          <h2 class="card-title text-3xl"> {{ level.Name }} </h2>
          <p>{{ level.Desc }}</p>

          <div class="card-actions py-4 flex flex-col mt-0 pt-0">

            <div class="space-x-3">
              <button id="slideSelectButton{{ forloop.counter }}" class="slideSelectBtn btn bg-charlotte-gold border-none my-2" value="{{level.Code}}">Select</button>

              <div id="slideSelectAlert{{ forloop.counter }}" class="alert alert-info m-0 hidden inline-block">
                <div class="flex">
                  <label>Selected</label>
                </div>
              </div>
            </div>

            <div class="space-y-3">
              <h6 class="font-bold text-gray-500"> Advanced Settings </h6>

              <div class="btn-group font-normal">
                <button id="OB{{ forloop.counter }}" class="adv_btn btn btn-sm active bg-charlotte-gold" value="Oral_breathing">Oral Breathing</button>
                <button id="S{{ forloop.counter }}" class="adv_btn btn btn-sm" value="Speaking">Speaking</button>
                <button id="LS{{ forloop.counter }}" class="adv_btn btn btn-sm" value="Loudly_speaking">Loudly Speaking</button>
              </div>
            </div>


          </div>

        </div>
      </div>

    </div>

    <div class="hidden absolute lg:flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="{% if forloop.counter|add:'1' == 0 %} #slide4 {% else %} #slide{{ forloop.counter|add:'-1' }} {% endif %}"  class="btn btn-circle">❮</a>
      <a href="{% if forloop.counter|add:'1' == 5 %} #slide1 {% else %} #slide{{ forloop.counter|add:'1' }} {% endif %}" class="btn btn-circle">❯</a>
    </div>

  </div>
  {% endfor %}

</div>

<form id="ActivityLevelForm" method="POST" action="">
    {% csrf_token %}

    {{ form.activity_level.as_hidden }}
    {{ form.activity_sub_level.as_hidden }}
</form>

{% endblock %}
