{% load static %}

<html lang="en">
    <head>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_tags %} {% endblock %}

        <!-- title -->
        <title>{% block title %} {% endblock %}</title>


        <!-- css -->

        <!-- tailwind stylesheet -->
        <link rel="stylesheet" href="{% static 'layout/tailwind/build/tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'layout/css/html_base_custom_css.css' %}">

        <!-- font awseome icons -->
        <link   rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
                integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
                crossorigin="anonymous">

        {% block css %} {% endblock %}

        <!-- js -->

        <!-- minified jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script src="{% static 'estimate/js/location.js' %}" type="text/javascript"></script>


        {% block head_js %}{% endblock %}
    </head>

    <body>

        <!-- site header -->
        <header class="px-8 sm:px-20 lg:px-96">
            <!-- This example requires Tailwind CSS v2.0+ -->
                <nav class="bg-white">
                    <div class="max-w-7xl py-5">


                        <div class="inset-x-0 top-0 flex items-center justify-between">

                            <!-- pc menu -->
                            <div class="flex items-center space-x-5">
                                <a href="{% url 'homepage' %}"> <i class="fas fa-arrow-left fa-2x"></i> </a>
                                <span class="text-black tracking-normal text-xl md:text-2xl font-bold align-middle" > Estimate  </span>
                            </div>

                        </div>
                    </div>



                </nav>
        </header>

        <!-- site content -->
        <main class="px-8 sm:px-20 lg:px-96 space-y-6">

            <section class="space-y-5" >
                <div class="flex">

                    <div class="space-y-4">
                        <h2 class="font-semibold text-2xl md:text-4xl xl:text-5xl tracking-wider"> Activity Location </h2>
                        <h3 class="text-base md:text-lg xl:text-xl tracking-wide"> Next: Activity Planned </h3>
                    </div>

                    <div class="flex-grow">
                        <div class="w-16 h-16 mx-auto">
                            <img class="" src={% static '/estimate/resources/image/568205.png'%}>
                        </div>
                    </div>

                </div>

                <p class="text-base md:text-lg xl:text-xl"> Descriptions and instructions on what to do and why is it important to do.</p>

            </section>

            <section class="space-y-3 mt-5 xl:px-32">

                <div class="flex flex-col text-center">

                    <h1 class="text-black text-lg md:text-xl xl:text-2xl font-semibold tracking-wide"> Where will the activity be in? </h1>
                    <span>  </span>

                </div>

                <div class="flex justify-end">

                    <div class="relative text-left flex-grow">
                        <div>
                            <button type="button" class="flex justify-between w-full rounded-full shadow-sm px-4 py-2 bg-charlotte-gold text-xl font-medium text-white" id="menu-button" aria-expanded="true" aria-haspopup="true">
                                <span id="menu-text"> Regions </span>
                                <!-- Heroicon name: solid/chevron-down -->
                                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                            </button>
                        </div>

                        <!--
                            Dropdown menu, show/hide based on menu state.

                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div id="regions-menu" class=" closed origin-top-right right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none
                                                        transition ease-in duration-75 transfrom opacity-0 scale-0 h-0 overflow-hidden"

                                                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                            <div class="py-1" role="none">

                            {% for region in regions %}
                                <button class="menuItem w-full text-gray-700 block px-4 py-2 text-sm" role="menuitem" value={{ region.Code }}>{{ region }}</button>
                            {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>

                <div class="flex z-10">
                    <div class="flex-grow">

                        <form id="LocationForm" action="" method="POST">
                            {% csrf_token %}
                            {{form.location.error}}
                            {{form.location.as_hidden}}

                            <button id="submit_button" type="submit" class="tracking-widest text-center w-full rounded-full shadow-sm px-4 py-3 md:py-5 bg-charlotte-green text-xl font-black text-white">
                                NEXT
                            </button>

                        </form>


                    </div>
                </div>

            </section>

        </main>

        <!-- js -->
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- Required popper.js -->
        <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>

        {% block body_js %} {% endblock %}

    </body>
</html>
