{% extends 'base_template/estimation_base_template.html' %}
{% load static %}

{% block meta_tags %} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estimate/css/sliderDesign.css' %}">
{% endblock %}

{% block title %} Masks {% endblock %}

{% block body_js %}
    <script src="{% static 'estimate/js/masks.js' %}" type="text/javascript"></script>
{% endblock %}

{% block input %}

<div class="space-y-10 flex flex-col justify-evenly items-center lg:py-28">

    <div class="space-y-2 m-b w-72 md:w-100">

      <div class="flex flex-col text-center">

          <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> Estimate the percentage of people wearing masks: </h1>

      </div>

      <div class="grid grid-cols-3 gap-2">
          <div class="range-slider-counter w-full col-span-3">
              <input type="range" min="1" max="100" value="50" class="slider h-2 w-full" id="maskSlider">
          </div>
      </div>

      <div class="grid grid-cols-1 gap-2">

          <div class="bg-dirty-white px-3 py-2 text-charlotte-blue text-center font-semibold rounded-full col-span-1">
              <span class="w-full" id="sliderValue"> 50% </span>
          </div>
      </div>


    </div>

    <div class="space-y-2 ">

      <div class="flex justify-center space-x-3">
          <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> What type of mask? </h1>
      </div>

      <div class="flex flex-col text-center justify-center space-y-3 px-0 md:px-20 lg:px-0">

          <div class="grid grid-cols-3 gap-x-6 md:gap-x-3 gap-y-2 md:gap-y-1 text-charlotte-blue h-full ">

              {% for mask in masks %}

                  <button name="mask"
                          value="{{ mask.Code }}"
                          class="maskBtn bg-dirty-white p-1 md:p-2 xl:p-3 h-24 w-24 md:h-32 md:w-32 xl:h-40 xl:w-40 rounded-4xl md:rounded-7xl font-semibold place-self-center shadow-md
                                  transform transition duration-300 ease-in-out text-charlotte-blue
                                  focus:bg-beige active:bg-beige hover:bg-gray-300 focus:scale-105 active:scale-105 hover:scale-105
                                  focus:shadow-xl active:shadow-xl hover:shadow-xl" >

                      <span>
                          <img class="h-14 w-14 md:w-16 md:h-16 xl:h-20 xl:w-20 m-auto" src="{{ mask.image.url }}" alt="My image"></img>
                      </span>
                      <span class=" leading-none text-sm md:text-normal xl:text-xl"> {{ mask }} </span>
                  </button>

              {% endfor %}

          </div>

      </div>

    </div>

</div>



<form id="MasksForm" method="POST" action="">
    {% csrf_token %}

    {{ form.maskPercent.as_hidden }}
    {{ form.maskType.as_hidden }}
</form>



{% endblock %}
