{% extends 'base_template/estimation_base_template.html' %}
{% load static %}

{% block meta_tags %} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estimate/css/sliderDesign.css' %}">
{% endblock %}

{% block title %} Masks {% endblock %}

{% block head_js %}
    <script src="{% static 'estimate/js/masks.js' %}" type="text/javascript"></script>
{% endblock %}


{% block progreesBar %}
    <img class="" src={% static '/estimate/resources/image/ProgressBar/4_of_5.png'%}>
{% endblock %}

{% block input %}

    <section class="mt-5">
        <form id="MasksForm" method="POST" action="">
            {% csrf_token %}

            <div class="space-y-5">

                <div class="space-y-2">

                    <div class="flex flex-col text-center">

                        <h1 class="text-black text-lg md:text-xl xl:text-2xl font-semibold tracking-wide"> Estimate the percentage of people wearing masks: </h1>

                    </div>

                    <div class="grid grid-cols-3 gap-2">
                        <div class="range-slider-counter w-full col-span-3">
                            <input type="range" min="1" max="100" value="50" class="slider h-2 w-full" id="maskSlider">
                        </div>

                    </div>

                    <div class="grid grid-cols-1 gap-2">

                        <div class="bg-dirty-white px-3 py-2 text-charlotte-blue text-center font-semibold rounded-full col-span-1">
                            <span class="w-full" id="sliderValue"> 50% </span>
                        </div>
                    </div>

                </div>

                <div class="flex flex-col text-center">

                    <div class="flex justify-center space-x-3"> 
                        <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> How large is the room? </h1>
                        <span class=" flex justify-center items-center"> 
                            <object class="h-5 w-5" data="{% static 'estimate/resources/icons/base/Tooltip.svg' %}" type="image/svg+xml"></object>
                        </span>
                    </div>

                </div>

                <div class="flex flex-col text-center my-3 justify-center space-y-3">

                    <div class="grid grid-cols-3 gap-3 text-charlotte-blue">

                        {% for mask in masks %}

                        <button name="mask"
                                value="{{ mask.Code }}"
                                type="button"
                                class="maskBtn bg-dirty-white p-1 h-24 w-24 rounded-4xl font-semibold place-self-center shadow-md
                                        transform transition duration-300 ease-in-out text-charlotte-blue
                                        focus:bg-beige active:bg-beige hover:bg-beige focus:scale-105 active:scale-105 hover:scale-105 
                                        focus:shadow-xl active:shadow-xl hover:shadow-xl" >

                            <span>
                                <img class="h-14 w-14 m-auto" src="{{ mask.image.url }}" alt="My image">
                            </span>
                            <span class="leading-none text-sm"> {{ mask }} </span>
                        </button>


                        {% endfor %}

                    </div>
                </div>
            </div>

            {{ form.maskPercent.as_hidden }}
            {{ form.maskType.as_hidden }}
        </form>

    </section>

{% endblock %}
