{% extends 'base_template/estimation_base_template.html' %}
{% load static %}

{% block meta_tags %} {% endblock %}

{% block css %} {% endblock %}

{% block title %} Activity Presets {% endblock %}

{% block head_js %}
    <script src="{% static 'estimate/js/presets.js' %}" type="text/javascript"></script>
{% endblock %}

{% block progreesBar %}
    <img class="" src={% static '/estimate/resources/image/ProgressBar/2_of_5.png'%}>
{% endblock %}

{% block input %}

    <section class="space-y-3">

        <div class="flex justify-center space-x-3"> 
            <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> What is the planned activity? </h1>
        </div>

        <form id="ActivityForm" action="" method="post">
        {% csrf_token %}

            {{form.activity.as_hidden}}

        </form>

        <div class="flex flex-col text-center my-3 justify-center space-y-3">

            <div class="grid grid-cols-3 gap-x-6 gap-y-2 text-charlotte-blue">

                {% for preset in presets %}

                    <button name="preset"
                            value="{{ preset.Code }}"
                            class="presetBtn bg-dirty-white p-1 h-24 w-24 rounded-4xl font-semibold place-self-center shadow-md
                                    transform transition duration-300 ease-in-out text-charlotte-blue
                                    focus:bg-beige active:bg-beige hover:bg-beige focus:scale-105 active:scale-105 hover:scale-105 
                                    focus:shadow-xl active:shadow-xl hover:shadow-xl" >

                        <span>
                            <img class="h-14 w-14 m-auto" src="{{ preset.image.url }}" alt="My image">
                        </span>
                        <span class="leading-none text-sm"> {{ preset }} </span>
                    </button>

                {% endfor %}

            </div>

            <a href="{% url 'activity_level' %}" type="button" class="flex w-full text-lg bg-dirty-white rounded-full text-center font-black p-4 relative">
                <span class="w-full text-center font-charlotte-blue"> Create Your Own </span>
                
                <object class="h-8 w-8 absolute self-center" data="{% static 'estimate/resources/icons/activity_presets/Create.svg' %}" type="image/svg+xml"></object> 
            </a>

        </div>

    </section>

{% endblock %}