{% extends 'base_template/estimation_base_template.html' %}
{% load static %}

{% block meta_tags %} {% endblock %}

{% block css %} {% endblock %}

{% block title %} Ventilation {% endblock %}

{% block head_js %}
    <script src="{% static 'estimate/js/ventilation.js' %}" type="text/javascript"></script>
{% endblock %}

{% block progreesBar %}
    <img class="" src={% static '/estimate/resources/image/ProgressBar/2.2_of_5.png'%}>
{% endblock %}

{% block input %}

    <section class="space-y-3">

        <div class="flex justify-center space-x-3"> 
            <h1 class="text-charlotte-blue text-lg md:text-xl xl:text-2xl font-black tracking-normal"> What is the location's category? </h1>
            <span class=" flex justify-center items-center"> 
                <object class="h-5 w-5" data="{% static 'estimate/resources/icons/base/Tooltip.svg' %}" type="image/svg+xml"></object>
            </span>
        </div>

        <form ID="VentilationForm" action="" method="post">
        {% csrf_token %}

            {{form.ventilation.as_hidden}}

        </form>

        <div class="flex flex-col text-center my-3 justify-center space-y-3">

            <div class="grid grid-cols-2 gap-y-6 gap-x-0 text-charlotte-blue">

                {% for preset in ventilation_presets %}

                    <button name="preset"
                            value="{{ preset.Code }}"
                            class="presetBtn bg-dirty-white p-1 h-28 w-28 xl:h-32 xl:w-32 rounded-6xl font-semibold place-self-center shadow-md
                                    transform transition duration-300 ease-in-out text-charlotte-blue
                                    focus:bg-beige active:bg-beige hover:bg-beige focus:scale-105 active:scale-105 hover:scale-105 
                                    focus:shadow-xl active:shadow-xl hover:shadow-xl" >

                        <span>
                            <img class="h-16 w-16 m-auto" src="{{ preset.image.url }}" alt="My image">
                        </span>
                        <span class="leading-none"> {{ preset }} </span>
                    </button>

                {% endfor %}
            </div>

        </div>

    </section>

{% endblock %}
