asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.9
django-on-heroku==1.1.2
django-storages==1.12.3
django-svg-image-form-field==1.0.1
dropbox==11.25.0
idna==3.3
numpy==1.21.4
Pillow==8.4.0
ply==3.11
psycopg2-binary==2.9.3
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
stone==3.2.1
urllib3==1.26.8
whitenoise==5.3.0
