{% extends 'base_templates/html_base.html' %}
{% load static %}

{% block main %}

<!-- site content -->
<main class="px-8 sm:px-20 lg:px-72 font-sans text-charlotte-blue pb-5">

    <section class="space-y-3" >

        <div class="grid grid-cols-5 gap-3" >
            <div class="col-span-4">
                <h3 class="text-base md:text-lg xl:text-xl tracking-tight"> Estimation stage </h3>
                <h2 class="font-black text-3xl md:text-4xl xl:text-5xl tracking-tighter"> {{ stage_title }} </h2>
            </div>

            <div class="flex items-end justify-end" >
                <h3 class=" text-base sm:text-xl md:text-2xl tracking-tight font-black"> {{ stage_number }} of 5 </h3>
            </div>

            <div class="col-span-5 grid grid-cols-5 gap-1">
                <div class="{% if stage_number >= 1 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1"> </div>

                <div class="{% if stage_number >= 2 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1">

                </div>
                <div class="h-1 grid grid-cols-4">
                  <div class="{% if stage_number >= 2.1 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1">

                  </div>
                  <div class="{% if stage_number >= 2.2 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1">

                  </div>
                  <div class="{% if stage_number >= 2.3 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1">

                  </div>
                  <div class="{% if stage_number >= 3 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1">

                  </div>
                </div>
                <div class="{% if stage_number >= 4 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1"> </div>
                <div class="{% if stage_number >= 5 %} bg-charlotte-blue {% else %} bg-cool-gray-400 {% endif %} h-1"> </div>
            </div>

        </div>

        <p class="text-base tracking-tight md:text-lg xl:text-xl"> {{ stage_desc }}</p>

    </section>

    {% if request.path != '/estimate/results' %}
    <section class="space-y-3 mt-5 xl:px-32 font-sans mb-3">
      {% block input %}
      {% endblock %}
    </section>

    {% if request.path != '/estimate/summary' %}
    <div class="grid grid-cols-1 gap-3 justify-items-center md:flex md:flex-row-reverse md:justify-between">

      <button id="submit_btn" type="button" class="text-xl text-gray-500 w-72 bg-gray-600 rounded-full text-center py-4 cursor-not-allowed" disabled>
          Next
      </button>

      <a href="{{ back_link }}" type="button" class=" text-xl text-charlotte-blue w-72 bg-dirty-white rounded-full text-center py-4">
          Back
      </a>

    </div>
    {% else %}

    <div class="grid grid-cols-1 gap-3 justify-items-center md:flex md:flex-row-reverse md:justify-between">

      <a href="{% url 'result' %}" type="button" class="text-xl text-white w-72 bg-charlotte-green rounded-full text-center py-4">
          Next
      </a>

      <a href="{{ back_link }}" type="button" class="text-xl text-charlotte-blue w-72 bg-dirty-white rounded-full text-center py-4">
          Back
      </a>

    </div>

    {% endif %}

    {% endif %}

</main>

{% if request.path == '/estimate/results' %}
<section class="space-y-3 font-sans">
  {% block results %}
  {% endblock %}
</section>
{% endif %}
<script src="{% static 'estimate/js/estimation_base.js' %}" type="text/javascript"></script>
{% endblock %}
