{% load static %}

<html lang="en">
    <head>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_tags %} {% endblock %}

        <!-- title -->
        <title>{% block title %} {% endblock %}</title>


        <!-- css -->

        <!-- tailwind stylesheet -->
        <link rel="stylesheet" href="{% static 'layout/tailwind/build/tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'layout/css/html_base_custom_css.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        {% block css %} {% endblock %}

        <!-- js -->

        <!-- minified jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script src="{% static 'layout/js/components.js' %}" type="text/javascript"></script>

        {% block head_js %}{% endblock %}
    </head>

    <body>

        <!-- site header -->
        <header class="px-10 sm:px-20 lg:px-32">
            <!-- This example requires Tailwind CSS v2.0+ -->
                <nav class="absolute bg-white">
                    <div class="max-w-7xl mx-auto py-5">


                        <div class="inset-x-0 top-0 flex items-center justify-between">

                            <!-- pc menu -->
                            <div class=" hidden sm:block">
                                <span class="text-black  tracking-tighter text-3xl font-bold" > aspire </span>
                            </div>


                            <!-- mobile menu -->
                            <div class="inset-y-0 left-0 right-0 flex py-3 flex-col sm:hidden">
                                <div class=" flex justify-between items-center ">
                                    <span class="text-black tracking-tighter text-3xl font-bold" > aspire </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </nav>
        </header>

        <!-- site content -->
        <main class="font-lato text-charlotte-blue">

            {% block main %}
            {% endblock %}

        </main>

        <!-- js -->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        {% block body_js %} {% endblock %}

    </body>
</html>
