.result {
    background: rgb(51,121,112);
    background: linear-gradient(0deg, rgba(51,121,112,1) 0%, rgba(51,61,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#337970",endColorstr="#333d51",GradientType=1);
}