.very_low_risk {
    background: rgb(51,121,112);
    background: linear-gradient(0deg, rgba(51,121,112,1) 0%, rgba(51,61,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#337970",endColorstr="#333d51",GradientType=1);
}

.low_risk {
    background: #32727f;
    background: linear-gradient(0deg,  #32727f 0%, #333352 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32727f",endColorstr="#333352",GradientType=1);
}

.med_risk {
    background: #c2a24a;
    background: linear-gradient(0deg,  #c2a24a 0%, #6b4c31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2a24a",endColorstr="#6b4c31",GradientType=1);
}

.high_risk {
    background: #c2854a;
    background: linear-gradient(0deg, #c2854a 0%, #6b3431 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2854a",endColorstr="#6b3431",GradientType=1);
}

.very_high_risk {
    background: #bc4d42;
    background: linear-gradient(0deg, #bc4d42 0%, #542222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc4d42" ,endColorstr="#542222",GradientType=1);
}