{% extends 'base_templates/html_base.html' %}
{% load static %}
<!-- meta_tags -->
{% block meta_tags %} {% endblock %}

<!-- title -->
{% block title %} {% endblock %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
{% endblock %}

<!-- head_js -->
{% block head_js %}{% endblock %}

<!-- main content -->
{% block main %}
  <div class=" flex justify-center items-center px-0 pt-20 lg:pt-56 pb-20 header-container" >

    <div class="background-shapes bg-red"> </div>

    <div class="flex flex-col lg:flex-row w-5/6">
      <div class="flex flex-col">

        <div>

            <h1 class="text-4xl md:text-6xl xl:text-7xl text-center md:text-left py-7 leading-tight"> I <b> aspire </b> to be <br> COVID-safe. </h1>
            <span class="text-base md:text-lg xl:text-2xl pr-20"> Plan your activities safely and learn how every decision is crucial to become COVID-safe.</span>

        </div>

        <div class="flex flex-col text-center text-white text-xs sm:text-s md:text-base lg:text-lg font-black tracking-widest2x mt-5 md:pr-16">

            <a href="{% url 'location' %}" class="bg-charlotte-gold my-2 py-3 md:py-5 rounded-full shadow-lg">
                GET STARTED
            </a>

            <a class="bg-charlotte-blue my-2 py-3 md:py-5 rounded-full shadow-lg">
                HOW TO USE
            </a>

        </div>

    </div>

    <img src="{% static 'homepage/images/Home_Illus_Above.svg' %}" class=" lg:max-w-3xl xl:max-w-5xl">

    </div>
  </div>

  <section class="info lg:min-h-screen">
      <div class="info-top-circle"> </div>
      <div class="container mx-auto pt-10">
          <div class="flex flex-col text-center text-white">

              <span class="mx-auto">

                  <object class="h-52 w-52" data="{% static 'layout/resources/icons/Aspire-Logo (green).svg' %}" type="image/svg+xml"></object>

              </span>

              <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold text-center py-7"> Meet aspire. </h1>
              <span class="text-base md:text-lg xl:text-xl px-10">
              Short for Activity Safety Planning and Infection Risk Estimator, it aims to estimate the possible risks one can have on their planned activities during the global pandemic.
              It is heavily based on Jimenez and Peng’s estimator and the Goldberg et al. 's MyCOVIDRisk App.
              </span>

          </div>

          <div class="flex flex-col text-center text-white my-12">

              <span class="text-base md:text-lg xl:text-xl text-green-400 m-10"> In aspire you can...</span>

              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                  <div class="text-white flex flex-col p-10 space-y-5">

                      <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg flex">
                          <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Estimate.svg' %}" type="image/svg+xml"></object>
                      </div>

                      <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Estimate </span>

                      <span class="text-base md:text-lg xl:text-xl font-light">
                          Utilize premade values that are based on research to identify your COVID-19 risk when doing a planned activity.
                      </span>

                  </div>

                  <div class="text-white flex flex-col p-10 space-y-5">

                      <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg">
                          <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Learn.svg' %}" type="image/svg+xml"></object>
                      </div>

                      <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Learn </span>

                      <span class="text-base md:text-lg xl:text-xl font-light">
                          Experiment with values on-site to determine how your risk can increase or decrease based on the different circumstances given by the website.
                      </span>

                  </div>

                  <div class="text-white flex flex-col p-10 space-y-5">

                      <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg">
                          <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Evaluate.svg' %}" type="image/svg+xml"></object>
                      </div>

                      <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Evaluate  </span>

                      <span class="text-base md:text-lg xl:text-xl font-light">
                          With this estimator, it can help you assess whether your planned activity is safe for you and your family. If not, it allows you to plan ahead of time for possible solutions regarding possible concerns.
                      </span>

                  </div>

              </div>

          </div>

      </div>

      <div class="info-bottom-circle"> </div>

  </section>

    <footer class="container mx-auto md:py-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div class="p-7 space-y-5">
                <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold"> Contact us! </h1>
                <span class="text-base md:text-lg xl:text-xl md:block">
                    Questions not answered yet? Concerns unaddressed? Feel free to contact any of the researchers below.
                </span>
            </div>

            <div class="container p-5 content-center justify-center">

                <div class="bg-blue-stained-white rounded-full p-10">

                    <h1 class="text-center font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> The AGALEPA team </h1>
                    <div class="px-10 py-5">
                        <span class="text-sm md:text-base xl:text-lg">
                            We are the student researchers from the Senior High School Department of De La Salle University-Integrated School Laguna Campus. We created this website to assist people all over the Philippines to estimate their risks before going outside, especially since the COVID-19 disease is still prevalent in this country. This research study is for the partial fulfillment of the requirements for our research project.
                        </span>
                    </div>


                </div>

            </div>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 py-10 text-center">
                    <div class="space-y-2">

                        <h2 class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Mr. Maveron Aguares </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Programmer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                maveron_aguares@dlsu.edu.ph
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Ms. Anne Gabor </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Communications manager </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                anne_nicole_gabor@dlsu.edu.ph
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Mr. Thaniel Lee </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Programmer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                thaniel_lee@dlsu.edu.ph
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Ms. Cy Padillon </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Graphic Designer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                cy_padillon@dlsu.edu.ph
                            </a>

                        </h4>

                    </div>

        </div>
    </footer>
{% endblock %}

<!-- body_js -->
{% block body_js %} {% endblock %}
