{% extends 'base_templates/html_base.html' %}

<!-- meta_tags -->
{% block meta_tags %} {% endblock %}

<!-- title -->
{% block title %} {% endblock %}

<!-- css -->
{% block css %} {% endblock %}

<!-- head_js -->
{% block head_js %}{% endblock %}

<!-- main content -->
{% block main %}

    <section class="container mx-auto p-8">

        <div class="min-w-full bg-white rounded-3xl shadow-md py-12">
            <h1 class="text-blue-600 text-center" > HELLO WORLD! </h1>
        </div>

    </section>

{% endblock %}

<!-- body_js -->
{% block body_js %} {% endblock %}