{% extends 'base_templates/html_base.html' %}
{% load static %}
<!-- meta_tags -->
{% block meta_tags %} {% endblock %}

<!-- title -->
{% block title %} {% endblock %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
{% endblock %}

<!-- head_js -->
{% block head_js %}{% endblock %}

<!-- main content -->
{% block main %}
    <section>
    <section class="container mx-auto h-screen flex relative">

        <div class="container flex flex-col my-3 justify-center content-center">

            <div class=" flex flex-col lg:w-1/2 px-10 md:px-10 lg:px-18">

                <div>

                    <h1 class="text-5xl md:text-6xl xl:text-7xl text-center md:text-left py-7 leading-tight"> I <b> aspire </b> to be <br> COVID-safe. </h1>
                    <span class="text-base md:text-lg xl:text-2xl pr-20"> Plan your activities safely and learn how every decision is crucial to become COVID-safe.</span>

                </div>

                <div class="flex flex-col text-center text-white font-black tracking-widest2x mt-5 md:pr-16">

                    <a href="{% url 'location' %}" class="bg-charlotte-gold my-2 py-3 md:py-5 rounded-full shadow-lg">
                        GET STARTED
                    </a>

                    <a class="bg-charlotte-blue my-2 py-3 md:py-5 rounded-full shadow-lg">
                        LEARN HOW TO USE ASPIRE
                    </a>

                </div>

            </div>

        </div>
    </section>

    <section class="info lg:h-screen">
        <div class="container mx-auto pt-10">
            <div class="flex flex-col text-center text-white">

                <span class="mx-auto">

                    <object class="h-32 w-32" data="{% static 'layout/resources/icons/Aspire-Logo (green).svg' %}" type="image/svg+xml"></object>

                </span>

                <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold text-center py-7"> Meet aspire. </h1>
                <span class="text-base md:text-lg xl:text-xl px-10">
                Short for Activity Safety Planning and Infection Risk Estimator, it aims to estimate the possible risks one can have on their planned activities during the global pandemic.
                It is heavily based on Jimenez and Peng’s estimator and the Goldberg et al. 's MyCOVIDRisk App.
                </span>

            </div>

            <div class="flex flex-col text-center text-white my-12">

                <span class="text-base md:text-lg xl:text-xl text-green-400 m-10"> In Aspire you can...</span>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                    <div class="text-white flex flex-col p-10 space-y-5">

                        <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg flex">
                            <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Estimate.svg' %}" type="image/svg+xml"></object>
                        </div>

                        <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Estimate </span>

                        <span class="text-base md:text-lg xl:text-xl font-light">
                            Utilize premade values that are based on research to identify your COVID-19 risk when doing a planned activity.
                        </span>

                    </div>

                    <div class="text-white flex flex-col p-10 space-y-5">

                        <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg">
                            <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Learn.svg' %}" type="image/svg+xml"></object>
                        </div>

                        <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Learn </span>

                        <span class="text-base md:text-lg xl:text-xl font-light">
                            Experiment with values on-site to determine how your risk can increase or decrease based on the different circumstances given by the website.
                        </span>

                    </div>

                    <div class="text-white flex flex-col p-10 space-y-5">

                        <div class="h-28 w-28 mx-auto p-5 bg-charlotte-blue rounded-7xl shadow-lg">
                            <object class="h-16 w-16 self-center object-center m-auto" data="{% static 'homepage/icons/Evaluate.svg' %}" type="image/svg+xml"></object>
                        </div>

                        <span class="font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Evaluate  </span>

                        <span class="text-base md:text-lg xl:text-xl font-light">
                            Questions not answered yet? Concerns unaddressed? Feel free to contact any of the researchers below.
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <footer class="container mx-auto md:py-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div class="p-7">
                <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold"> Contact us! </h1>
                <span class="text-base md:text-lg xl:text-xl md:block">
                    Questions not answered yet? Concerns unaddressed? <br> Feel free to contact us below.
                </span>
            </div>

            <div class="container p-5 content-center justify-center">

                <div class="bg-blue-stained-white rounded-full p-5">

                    <h1 class="text-center font-semibold text-xl md:text-2xl xl:text-3xl tracking-wide"> Who we are </h1>
                    <div class="px-10 py-5">
                        <span class="text-sm md:text-base xl:text-lg">
                            We are the student researchers from the Senior High School Department of De La Salle University-Integrated School Laguna Campus. This project is for the partial fulfillment of the requirements for our research project. We created this website to assist people all over the Philippines to estimate their risks before going outside, especially since the COVID-19 disease is still prevalent in this country.
                        </span>
                    </div>


                </div>

            </div>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 py-10 text-center">
                    <div class="space-y-2">

                        <h2 class="font-semibold text-lg md:text-xl xl:text-2xl tracking-wide"> Maveron Tyriel Aguares </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Programmer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                sample.email@gmail.com
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-lg md:text-xl xl:text-2xl tracking-wide"> Anne Nicole Gabor </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Communications </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                sample.email@gmail.com
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-lg md:text-xl xl:text-2xl tracking-wide"> Thaniel Lee </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Programmer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                sample.email@gmail.com
                            </a>

                        </h4>

                    </div>

                    <div class="space-y-2">

                        <h2 class="font-semibold text-lg md:text-xl xl:text-2xl tracking-wide"> Cy Wenvir Padillon </h2>
                        <h3 class="font-semibold text-base md:text-lg xl:text-xl tracking-wide"> Programmer </h3>

                        <h4 class=" text-base md:text-lg xl:text-xl">

                            <a class="hover:underline" >
                                sample.email@gmail.com
                            </a>

                        </h4>

                    </div>

                </div>
    </footer>
{% endblock %}

<!-- body_js -->
{% block body_js %} {% endblock %}
